
.home-button {
  background-color: #111111;
  background-image: url("../../assets/searchbuttonimgv2.svg");
  background-size: 256px;
  width: 16rem;
  height: 11rem;
  font-size: 2.5rem;
  color: #daa622;
  font-family: "Bangers", cursive;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.ContainerButton {
  border-radius: 8px;
  animation: animate 1.8s linear infinite;
  width: 16rem;
  height: 11rem;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(218, 166, 34, 1);
  }

  40% {
    box-shadow: 0 0 0 16px rgba(247, 108, 108, 0);
  }

  80% {
    box-shadow: 0 0 0 21px rgba(247, 108, 108, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(247, 108, 108, 0);
  }
}
