.search .card {
  height: 25vh;
  width: 30vw;
  border-radius: 20px;
}

.search {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: #111111;
  gap: 0.5rem;
  height: 60vh;
  padding-top: 1rem;
}
.containerForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4rem;
  width: 100vw;
  color: #daa622;
  align-items: center;
  justify-items: center;
}

figcaption {
  font-family: "Bangers", cursive;
  font-size: 1.6rem;
  height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
label[for="1"] {
  content: url("../../assets/action.svg");
  align-self: center;
  /* position: relative;
  left: 1.5rem; */
  cursor: pointer;
}
label[for="2"] {
  content: url("../../assets/sci-fi.svg");
  /* align-self: center;
  position: relative;
  left: 2.3rem; */
  cursor: pointer;
}
label[for="3"] {
  content: url("../../assets/comedy.svg");
  /* align-self: center;
  position: relative;
  left: 2.5rem; */
  cursor: pointer;
}
label[for="4"] {
  content: url("../../assets/thriller.svg");
  /* align-self: center;
  position: relative;
  left: 2.3rem; */
  cursor: pointer;
}
label[for="5"] {
  content: url("../../assets/police-movie.svg");
  /* align-self: center;
  position: relative;
  left: 2.2rem; */
  cursor: pointer;
}
label[for="6"] {
  content: url("../../assets/western.svg");
  /* align-self: center;
  position: relative;
  left: 3rem; */
  cursor: pointer;
}
label[for="7"] {
  content: url("../../assets/horror.svg");
  /* align-self: center;
  position: relative;
  left: 2.5rem; */
  cursor: pointer;
}
label[for="8"] {
  content: url("../../assets/child-movie.svg");
  /* align-self: center;
  position: relative;
  left: 2rem; */
  cursor: pointer;
}
label[for="9"] {
  content: url("../../assets/romantic.svg");
  /* align-self: center;
  position: relative;
  left: 3rem; */
  cursor: pointer;
}

/* h2 {
  font-family: "Bangers", cursive;
  font-size: 1.6rem;
  height: 2rem;
  position: relative;
  top: 80px;
  right: 35px;
  padding-top: 1.5rem;
} */

input {
  display: none;
}
figure:hover {
  color: whitesmoke;
  text-shadow: 1px 3px 30px yellow;
  text-decoration: underline;
}

.action,
.sci-fi,
.comedy,
.thriller,
.police-movie,
.western,
.horror,
.child-movie,
.romantic {
  display: flex;
  justify-content: center;
  height: 7rem;
}

button.form-button {
  background-color: #111111;
  background-image: url("../../assets/search-movies.svg");
  background-size: 80px;
  background-repeat: no-repeat;
  font-size: 2.5rem;
  color: #daa622;
  font-family: "Bangers", cursive;
  cursor: pointer;
  border: none;
  width: 100vw;
  height: 6rem;
  grid-area: 5 / 1 / 6 / 4;
}
