.gallery .card {
  height: 25vh;
  width: 30vw;
  border-radius: 20px;
}

.gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: #111111;
  gap: 0.5rem;
  height: 60vh;
  overflow: scroll;
  padding-top: 1rem;
}
