.gallery .card {
  height: 15rem;
  width: 8rem;
  border-radius: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  gap: 1rem;
}
