.frontImage {
  display: flex;
  justify-content: center;
}

.frontImage img {
  position: relative;
}

.card {
  display: flex;
  justify-content: center;
  height: 25em;
  width: 15em;
  overflow: hidden;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card.hoverable:hover {
  animation-name: click;

  animation-duration: 2s;

  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}

.card.hoverable:hover .poster {
  filter: brightness(40%);
}

.description {
  position: absolute;
  color: #f2f39d;
  font-size: 0.8em;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.hoverable:hover .description {
  opacity: 1;
  inset: 10px;
}

@keyframes click {
  0% {
    transform: scale(1);
  }

  100% {
    transition: all 1s ease;
    transform: scale(1.6);
  }
}

.ratedText {
  font-size: 1.2em;
  margin-left: 0.5em;
}

.ratedStar {
  height: 1em;
}

.rated {
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
}

.titleMovie {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  color: #daa622;
  font-family: "Bangers", cursive;
  letter-spacing: 0.1rem;
}

.paragraph {
  font-size: 0.9em;
  line-height: 120%;
}

.trailer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.trailerText {
  align-self: center;
  margin-left: 0.5em;
  color: #f2f39d;
  color: #daa622;
}
.trailerText:visited {
  color: #f2f39d;
}

.trailerLogo {
  height: 2em;
  color: blue;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.slide-bottom {
  -webkit-animation: slide-bottom 1s ease-in-out 2s backwards;
  animation: slide-bottom 1s ease-in-out 2s backwards;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
